body{
    min-height: calc(100vh - 80px);
}
.input.is-rounded{
    margin-bottom: 20px;
    width: 500px;
    margin-top: 30px;
}
#accept{
    margin-top: 20px;
    margin-left: 20px;
}
#cancel{
    margin-top: 20px;
    margin-left: 10px;
}
#text{
    margin-left: 20px;
}

